<% content_for :head do %>
  <script text="javascript">
    $(function() {
      $(".email").on("keypress", function(e){
        if(e.which == 32) e.preventDefault(); // escape space character
      });
    });
  </script>
<% end %>

<div class="box centered w33">
  
  <%= form_for(resource, :as => resource_name, :url => account_session_path) do |f| %>
    <h2>Log In</h2>

    <hr class="shadow">
    
    <div class="field w33">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'email' %>
    </div>

    <div class="field w33">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <% if @captcha -%>
      <div class="field w33">
        <%= recaptcha_tags display: {theme: 'white'} %>
      </div>
    <% end -%>

    <div class="field">
      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>
    </div>

    <div class="actions">
      <button type="submit" class="white">Log In</button>
    </div>
    
    <hr>

  <!--  -->

  <!-- 
    <p>
      Don't have an account? <a href="/accounts/sign_up">Create it</a>
    </p>
   -->

    <p>
    Forgot your password? <a href="/accounts/password/new">Reset it</a>
    </p>

    <a href="/accounts/confirmation/new">Didn't receive confirmation instructions?</a><br>

  <% end %>
</div>