.field
  = f.label :dial_string
  = f.text_field :dial_string, readonly: readonly

.field
  = f.label :normalized_called_number, t('views.channels._form_custom_sip.label.normalized_called_number')
  = f.text_field :normalized_called_number, readonly: readonly

.field
  = f.label :limit
  = f.text_field :limit, readonly: readonly
