.field
  .inline-c
    = f.label :username, t('views.channels._form_custom_sip.label.username')
    = tip_info(t('views.channels._form_custom_sip.tooltip.username'))
  = f.text_field :username, :autocomplete => 'off'

.field
  .inline-c
    = f.label :password, t('views.channels._form_custom_sip.label.password')
    = tip_info t('views.channels._form_custom_sip.tooltip.password')
  = f.password_field :password, :value => @channel.password, :autocomplete => 'off'

.field
  = f.label :number, t('views.channels._form_custom_sip.label.number')
  = f.text_field :number

.field
  .inline-c
    = f.label :prefix, t('views.channels._form_custom_sip.label.prefix')
    = tip_info t('views.channels._form_custom_sip.tooltip.prefix')
  = f.text_field :prefix

.field
  .inline-c
    = f.label :limit, t('views.channels._form_custom_sip.label.limit')
    = tip_info t('views.channels._form_custom_sip.tooltip.limit')
  = f.text_field :limit

.field
  .inline-c
    = f.label :domain, t('views.channels._form_custom_sip.label.domain')
    = tip_info t('views.channels._form_custom_sip.tooltip.domain')
  = f.text_field :domain

.field
  = f.label :port, t('views.channels._form_custom_sip.label.port')
  = f.text_field :port, placeholder: '5060'

- if allow_prefix_called_number?
  .field
    .inline-c
      = f.label :prefix_called_number, t('views.channels._form_custom_sip.label.prefix_called_number')
      = tip_info t('views.channels._form_custom_sip.tooltip.prefix_called_number')
    = f.text_field :prefix_called_number

.field
  .inline-c
    = f.label :normalized_called_number, t('views.channels._form_custom_sip.label.normalized_called_number')
    = tip_info t('views.channels._form_custom_sip.tooltip.normalized_called_number')
  = f.text_field :normalized_called_number


.field
  = f.label :protocol, t('views.channels._form_custom_sip.label.protocol')
  = f.select :protocol, [[t('views.channels._form_custom_sip.label.udp'), 'udp'], [t('views.channels._form_custom_sip.label.tcp'), 'tcp']]

.field
  = f.label :direction, t('views.channels._form_custom_sip.label.direction')
  = f.select :direction, [[t('views.channels._form_custom_sip.label.incoming'), 'inbound'], [t('views.channels._form_custom_sip.label.outgoing'), 'outbound'], [t('views.channels._form_custom_sip.label.both_directions'), 'both']]

.field
  = f.label :register, t('views.channels._form_custom_sip.label.register'), style: 'display:inline-block'
  = f.check_box :register
