.field
  = f.label :token, t('views.channels._form_voxeo.label.token')
  = f.text_field :token, readonly: readonly
.field
  = f.label :url, t('views.channels._form_voxeo.label.url')
  = f.text_field :url, readonly: readonly
.field
  = f.label :limit
  = f.text_field :limit, readonly: readonly
