%div
  .form-group
    %input#enable_sync{ko(checked: 'enable_sync'), type: 'checkbox'}
    %label.mb-0{for: 'enable_sync'}
      = t('views.ext.reminder_groups.label.enable_sync_data')

  .form-group
    %label{ko(css: {error: '!authorize_url() || !validUrl(authorize_url())'}), :for => :authorize_url}
      = t('views.ext.reminder_groups.label.authorize_url')
    %input.form-control.w30{ko(value: 'authorize_url', css: {error: '!authorize_url() || !validUrl(authorize_url())'}), type: 'text'}

  .form-group
    %label{ko(css: {error: '!username()'}), :for => :username}
      = t('views.ext.reminder_groups.label.username')
    %input.form-control.w30{ko(value: 'username', css: {error: '!username()'}), type: 'text'}

  .form-group
    %label{ko(css: {error: '!password()'}), :for => :password}
      = t('views.ext.reminder_groups.label.password')
    %input.form-control.w30{ko(value: 'password', css: {error: '!password()'}), type: 'password'}

  .form-group
    %label{ko(css: {error: '!endpoint() || !validUrl(endpoint())'}), :for => :endpoint}
      = t('views.ext.reminder_groups.label.endpoint')
    %input.form-control.w30{ko(value: 'endpoint', css: {error: '!endpoint() || !validUrl(endpoint())'}), type: 'text'}

  .form-group
    %label
      = t('views.ext.reminder_groups.label.sync_schedule')
      .tooltip
        = tip_info("")
        .tooltiptext.tooltip-right
          .text-left= schedule_description.html_safe

    .d-flex.align-items-center
      %select.form-control.w30{ko(value: 'schedule', options: (0..23).to_a)}
      %span.ml-1= t('views.ext.reminder_groups.label.o_clock')

  .form-group
    %label
      = t('views.ext.reminder_groups.label.exception_recipients')
      .tooltip
        = tip_info("")
        .tooltiptext.tooltip-right
          .text-left= recipient_emails_description.html_safe

    %input.form-control.w30{ko(value: 'exception_recipients'), type: 'text'}

  / Dynamic Variables
  %fieldset
    %legend.d-flex
      %span.mr-1= t('views.ext.reminder_groups.label.dictionary_attrs')
      .tooltip
        = tip_info("")
        .tooltiptext.tooltip-right
          .text-left= source_attr_description.html_safe

    .form-group.d-flex.align-items-center
      %input.flex-1.form-control.mr-1{ko(value: 'phone_number_field', css: {error: '!phone_number_field()'}), type: 'text', placeholder: t('views.ext.reminder_groups.label.source_attr')}

      %input.flex-1.form-control{value: 'Phone number', type: 'text', readonly: true}
      %div{style: 'width: 28px;'}

    <!-- ko foreach: variables -->
    .form-group.d-flex.align-items-center
      %input.flex-1.form-control.mr-1{ko(value: '$data.source'), type: 'text', placeholder: t('views.ext.reminder_groups.label.source_attr')}

      %input.flex-1.form-control{ko(value: '$data.destination'), type: 'text', placeholder: t('views.ext.reminder_groups.label.destination_attr')}

      %a.button.fdelete{ko(click: '$parent.removeVariable'), style: 'margin-bottom: -4px;'}
    <!-- /ko -->

    %div
      %button{ko(click: 'addVariable' )}= t('views.ext.reminder_groups.label.add_attr')
