- content_for :head do
  :javascript
    create_success = "#{t('views.ext.reminder_groups.label.successfully_created')}";
    create_error = "#{t('views.ext.reminder_groups.label.create_error')}";
    update_success = "#{t('views.ext.reminder_groups.label.successfully_updated')}";
    update_error = "#{t('views.ext.reminder_groups.label.update_error')}";
    delete_success = "#{t('views.ext.reminder_groups.label.successfully_deleted')}";
    delete_error = "#{t('views.ext.reminder_groups.label.delete_error')}";
    confirm_delete = "#{t('views.ext.reminder_groups.label.confirm_delete')}";
    confirm_reset = "#{t('views.ext.reminder_groups.label.confirm_reset')}";
    reset_success = "#{t('views.ext.reminder_groups.label.successfully_reset')}";
    project_id = "#{@project.id}"

    $(function(){
      allowKeyInput($("#autocomplete-address"), /[0-9\+]/);
    });

= render 'shared/project_tabs_and_title', project: @project, shared_project: @shared_project

%h2= t('views.ext.reminder_groups.title')

.alert= t('views.ext.reminder_groups.label.copied')

#reminder_groups-main.hidden-until-loaded
  / foreach reminder_groups
  <!-- ko foreach: reminder_groups -->

  / reminder group item
  <!-- ko if: $data != $root.current_reminder_group() -->
  = render 'reminder_group'
  <!-- /ko -->

  / current edit reminder group item
  <!-- ko if: $data == $root.current_reminder_group() -->
  = render 'current_reminder_group'
  <!-- /ko -->

  <!-- /ko -->
  / end of foreach

  / add reminder group button
  = render 'new_reminder_group'
%br
