%script{type: "text/html", id: "external_setting_template"}
  .popup
    .courtain
    .box.popupmessage
      %div
        = t('views.call_flows._external_setting_template.label.fill')
        %span{ko(text: 'display_name')}
        = t('views.call_flows._external_setting_template.label.with')
      %hr
      / ko if: is_datatype_date()
      %div
        = t('views.call_flows._datetime_step_template.label.unit') + ":"
        %select{ko(options: 'date_types()', value: 'value')}
      / /ko

      / ko ifnot: is_datatype_date()
      %div
        %select.w22{'data-bind' => "value: content_kind, options: content_kinds(), optionsText: 'text', optionsValue: 'value'"}
      / /ko
      %div
        %input.ux-text.w22{:type => 'text', 'data-bind' => 'value: value, valueUpdate: "afterkeydown", visible: visible_textbox_value()'}
        %select.w22{'data-bind' => 'value: variable, visible: content_kind() == "variable", options: available_variables()'}
        %select.w22{'data-bind' => 'value: step_id, visible: content_kind() == "step", options: available_steps(), optionsText: "name", optionsValue: "value"'}
        %select.w22{'data-bind' => 'value: response, visible: content_kind() == "response", options: available_responses(), optionsText: "name", optionsValue: "value"'}
      %hr
      %button.white{ko(click: 'save')}= t('views.call_flows._external_setting_template.action.save')
      %a.cancel{ko(click: 'cancel').merge(href: '#')}= t('views.call_flows._external_setting_template.action.cancel')